*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
/* navigation start */
.ocean{
    font-family: cursive;
    color: #DBA765 !important;
    font-size: 25px !important;
 }
 .dropdownData{
    background-color: white !important;
    border: none !important;
 }
 .dropdownData a:hover{
    color:#DBA765  !important;
 }
 .overdata{
    color: white;
 }
 .overdata a:hover{
    color: #DBA765 !important;
 }
 .drophover{
    color: black !important;
 }
 .drophover:hover{
    color: white !important;
 }
 .navbar-toggler{
    border: none !important;
    color: #050404 !important;
 }
 .navbar-toggler-icon{
    color: white !important;
 }
 .fa-bars-staggered :hover{
    color: #DBA765 !important;
 }
 .change_background{
    background-color: white !important;
 }
 /* animation */
 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    position: relative;
    display: inline-block;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s, background 0.3s;
  }
  
  nav ul li a:hover {
    color: #fff;
    background: #333;
  }
  
  nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: #333;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  
  nav ul li:hover ul {
    opacity: 1;
    visibility: visible;
  }
  
  nav ul li ul li {
    display: block;
    margin: 0;
  }
  
  nav ul li ul li a {
    color: #fff;
    padding: 10px 15px;
    transition: color 0.3s, background 0.3s;
  }
  
  nav ul li ul li a:hover {
    background: #555;
  }
  /* animation ocean */
  .text-container {
    text-align: center;
  }
  
  .animated-text {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #DBA765, 0 0 20px#DBA765, 0 0 30px #DBA765, 0 0 40px #DBA765, 0 0 70px #DBA765, 0 0 80px #DBA765, 0 0 100px #DBA765, 0 0 150px #DBA765;
    animation: neonGlow 1s ease-in-out infinite alternate;
  }
  
  @keyframes neonGlow {
    0% {
      text-shadow: 0 0 10px #DBA765, 0 0 20px #DBA765, 0 0 30px #DBA765, 0 0 70px #DBA765, 0 0 80px #DBA765, 0 0 100px #DBA765 0 0 150px #DBA765;
    }
    100% {
      text-shadow: none;
    }
  }
  /* navigation ebd */
/* bg start */
.bg{
    height: 400px;
    width: 100%;
    background-image: url('./images/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}    
.btext{
    color: white;
    font-size: 45px;
    /* padding-top: 130px; */
    text-align: center;
    margin-top: -20px !important;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* padding-bottom: -5px !important; */
}
.btext1{
    color: white;
    font-size:13px;
    text-align: center;
   letter-spacing: 5px;
   padding-top: 130px !important;
}
.icon{
    color: white;
    font-size: 8px;
    padding-left: 10px;
    padding-right: 5px;

}
/* end */
.s{
  margin-top: 100px !important;
  height: 350px;
  background-color: #050404;
  margin-left: 200px;
  width: 550px !important;
  background-image: url('./images/m2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.s1{
    margin-top: 100px !important;
    height: 350px;
    background-color: #f6efef;
    width: 550px !important;
  
}
.stext{
  color: #DBA765;
  font-size: 15px !important;
  padding-top: 60px;
  padding-left: 30px;
  letter-spacing: 5px;
  font-family: sans-serif;
}
.stext1{
    color: #000000;
    font-size: 35px !important;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 30px;
    margin-top: -10px !important;
    font-weight: normal;
}
.stext2{
    padding-left: 30px !important;
    font-size: 15px;
    padding-top: 20px;
    padding-right: 40px;
    text-align: justify;
    color: #555;
}
.bu{
    background-color: #aa8453;
    margin-top: 30px;
    height: 50px;
    width: 150px;
    letter-spacing: 5px;
    padding-top: 15px;
    color: #ffffff;
    font-size: small;
    margin-left: 30px;
    padding-left: 12px;
}
.s3{
    margin-top: 0px !important;
    height: 350px;
    background-color:#f6efef;
    margin-left: 200px;
    width: 550px !important;
   
}
.s2{
    margin-top: 0px !important;
    height: 350px;
    background-color: #000000;
    width: 550px !important;
    background-image: url('./images/m7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.s4{

    height: 350px;
    background-color: #050404;
    margin-left: 200px;
    width: 550px !important;
    background-image: url('./images/m14.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.s5{
    margin-top:0px !important;
    height: 350px;
    background-color: #f6efef;
    width: 550px !important;
}
.s6{
    margin-top: 0px !important;
    height: 350px;
    background-color:#f6efef;
    margin-left: 200px;
    width: 550px !important;
   
}
.s7{
    margin-top: 0px !important;
    height: 350px;
    background-color: #000000;
    width: 550px !important;
    background-image: url('./images/m3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.bu:hover{
    background-color: black;
}

/* start */
.bgimage{
    background-image:url('./images/1.jpg');
    height: 700px;
    background-size: cover;
    background-repeat:no-repeat ;
    background-attachment: scroll;
    margin-top: 50px !important;
  }
  .atext17{
    color: #DBA765;
    padding-left: 650px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 20px;
    padding-top:100px;
  }
  .atext18{
    color: white;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    padding-left:540px !important;
  }
  .client{
    margin-top: 30px !important;
    margin-left:300px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 400px;
    width:300px !important;
    box-shadow:10px 10px 10pxr gba(0, 0, 0, 0.6);
    text-align: center;
  }
  .image{
    height:70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 20px;
  }
  .image1{
    color: #b2adad;
    padding-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-right: 10px;
   padding-bottom: 20px;
  }
  .bi-star-fill{
    color: #DBA765;
    margin-left: 8px;
    
  }
  .image2{
    color: #b2adad;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
  }
  .image3{
    color: #b2adad;
    font-family: 'Times New Roman', Times, serif;
    margin-top: -5px;
  }
  .client1{
    margin-top: 30px !important;
    margin-left:30px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 400px;
    width:300px !important;
    box-shadow:10px 10px 10pxr gba(0, 0, 0, 0.6);
    text-align: center;
  }
  .client2{
    margin-top: 30px !important;
    margin-left:30px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 400px;
    width:300px !important;
    box-shadow:10px 10px 10pxr gba(0, 0, 0, 0.6);
    text-align: center;
  }
  /* end */
    /* icon end*  */ 
.icon8{
    margin-top: 80px !important;
    margin-left:200px;
  }
  .icon9{
    margin-top: 80px !important;
  }
  .icon10{
    margin-top: 80px !important;
  }
  
.form-control1{
    margin-top: 10px !important;
    margin-left: 10px !important;
    height: 48px;
    width: 270px !important;
   border: none;
   outline: none;
   padding-left: 10px;
  }
  button {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: #171717;
    padding: 1em 2em;
    border: none;
    border-radius: .6rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-top: 5px !important;
    box-shadow: 10px 10px 100px rgba(0,0,0,0.5);
  }
  
  button span:not(:nth-child(6)) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #e8c494;
    border-radius: 50%;
    transition: .6s ease;
  }
  
  button span:nth-child(6) {
    position: relative;
  }
  
  button span:nth-child(1) {
    transform: translate(-3.3em, -4em);
  }
  
  button span:nth-child(2) {
    transform: translate(-6em, 1.3em);
  }
  
  button span:nth-child(3) {
    transform: translate(-.2em, 1.8em);
  }
  
  button span:nth-child(4) {
    transform: translate(3.5em, 1.4em);
  }
  
  button span:nth-child(5) {
    transform: translate(3.5em, -3.8em);
  }
  
  button:hover span:not(:nth-child(6)) {
    transform: translate(-50%, -50%) scale(4);
    transition: 1.5s ease;
  }
  .list-unstyled li a:hover{
    color: #e8c494;
    text-decoration-color:#e8c494 ;
  }
  
  .bi{
    padding: 2px;
  }
  .bi:hover{
    color: #e8c494;
  }
@media screen  and (max-width:1440px){
 .s{
    margin-left: 170px !important;
 }
 .s3{
    margin-left: 170px !important;
 }
 .s4{
    margin-left: 170px !important;
 }
 .s6{
    margin-left: 170px !important;
 }
 .client{
    margin-left: 250px !important;
  }
}
@media screen  and (max-width:1024px){
    .s{
       margin-left: 10px !important;
       width: 500px !important;
    }
    .s1{
        width: 500px !important;
    }
    .s3{
       margin-left: 10px !important;
        width: 500px !important;
    }
    .s2{
        width: 500px !important;
    }
    .s4{
       margin-left: 10px !important;
        width: 500px !important;
    }
    .s5{
        width: 500px !important;
    }
    .s6{
       margin-left: 10px !important;
        width: 500px !important;
    }
    .s7{
        width: 500px !important;
    }
    .icon8{
        margin-top: 80px !important;
        margin-left:40px;
    }
    .icon9{
        margin-left: 10px;
    }
    .client{
       margin-left: 30px !important;
    }
   }
   @media screen  and (max-width:768px){
    .s{
       margin-left: 120px !important;
       width: 550px !important;
       height: 300px !important;
    }
    .s1{
        margin-left: 120px !important;
       width: 550px !important;
       height: 320px !important;
       margin-top: 0px !important;
    }
    .s3{
        margin-left: 120px !important;
        width: 550px !important;
        height: 320px !important;
        margin-top: 40px !important;
    }
    .s2{
        margin-left: 120px !important;
       width: 550px !important;
       height: 300px !important;
    }
    .s4{
        margin-left: 120px !important;
       width: 550px !important;
       height: 300px !important;
       margin-top: 40px !important;
    }
    .s5{
        margin-left: 120px !important;
       width: 550px !important;
       height: 320px !important;
    }
    .s6{
        margin-left: 120px !important;
       width: 550px !important;
       height: 320px !important;
       margin-top: 40px !important;
    }
    .s7{
        margin-left: 120px !important;
        width: 550px !important;
        height: 300px !important;   
    }
    .icon8{
        margin-top: 80px !important;
        margin-left:50px !important;
      }
      .icon10{
        margin-left: 150px !important;
      }
      .icon9{
        display: none;
     }
     
  .atext17{
    padding-left: 280px;
  }
  .atext18{
    padding-left: 200px !important;
  }
  .client{
    margin-left: 70px !important;
  }
  .client2{
    display: none;
  }
   }
   @media screen  and (max-width:430px){
    .s{
       margin-left: 20px !important;
       width: 390px !important;
       height: 300px !important;
    }
    .s1{
        margin-left: 20px !important;
        width: 390px !important;
       height: 320px !important;
       margin-top: 0px !important;
    }
    .s3{
        margin-left: 20px !important;
        width: 390px !important;
        height: 320px !important;
        margin-top: 40px !important;
    }
    .s2{
        margin-left: 20px !important;
        width: 390px !important;
       height: 300px !important;
    }
    .s4{
        margin-left: 20px !important;
        width: 390px !important;
       height: 300px !important;
       margin-top: 40px !important;
    }
    .s5{
        margin-left: 20px !important;
        width: 390px !important;
       height: 320px !important;
    }
    .s6{
        margin-left: 20px !important;
        width: 390px !important;
       height: 320px !important;
       margin-top: 40px !important;
    }
    .s7{
        margin-left: 20px !important;
        width: 390px !important;
        height: 300px !important;   
    }
    .stext{
        padding-top: 20px !important;
        padding-left: 10px;
    }
    .stext1{
        padding-left: 10px;
    }
    .stext2{
        padding-top: 10px !important;
        padding-left: 10px !important;
    }
    .bu{
        margin-left: 10px;
    }
    
  .atext17{
    padding-left: 120px;
    font-size: 15px;
  }
  .atext18{
    padding-left: 80px !important;
    font-size: 25px;
    margin-top: -10px !important;
  }
  .client{
    margin-left: 60px !important;
  }
  .client1{
    display: none;
  }
  .client2{
    display: none;
  }
  .icon8{
    display: none !important;
   }
   .icon9{
     display: none !important;
   }
   .icon10{
      display: none !important;
   }
}
@media screen  and (max-width:380px){
    .s{
       margin-left:0px !important;
       width: 390px !important;
       height: 300px !important;
    }
    .s1{
        margin-left:0px !important;
        width: 390px !important;
       height: 320px !important;
       margin-top: 0px !important;
    }
    .s3{
        margin-left:0px !important;
        width: 390px !important;
        height: 320px !important;
        margin-top: 40px !important;
    }
    .s2{
        margin-left:0px !important;
        width: 390px !important;
       height: 300px !important;
    }
    .s4{
        margin-left:0px !important;
        width: 390px !important;
       height: 300px !important;
       margin-top: 40px !important;
    }
    .s5{
        margin-left:0px !important;
        width: 390px !important;
       height: 320px !important;
    }
    .s6{
        margin-left:0px !important;
        width: 390px !important;
       height: 320px !important;
       margin-top: 40px !important;
    }
    .s7{
        margin-left:0px !important;
        width: 390px !important;
        height: 300px !important;   
    }
    .stext{
        padding-top: 20px !important;
        padding-left: 10px;
    }
    .stext1{
        padding-left: 10px;
        font-size: 30px !important;
    }
    .stext2{
        padding-top: 10px !important;
        padding-left: 10px !important;
    }
    .bu{
        margin-left: 10px;
    }
    .atext17{
        padding-left: 100px;
        font-size: 15px;
      }
      .atext18{
        padding-left: 60px !important;
        font-size: 25px;
        margin-top: -10px !important;
      }
      .client{
        margin-left: 30px !important;
      }
}
@media screen  and (max-width:320px){
    .bu{
        margin-top: 10px !important;
    }
    .stext1{
      font-size: 28px !important;
    }
    .atext17{
        padding-left:80px;
        font-size: 15px;
      }
      .atext18{
        padding-left: 40px !important;
        font-size: 23px;
        margin-top: -10px !important;
      }
      .client{
        margin-left: 8px !important;
      }
}